<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>Система рассчета таможенных платежей</title>
 </head>
 <body>

<p>Данная система представляет собой комплекс инструментов, для рассчета таможенных платежей. Имеется возможность рассчета как таможенных платежей в целом, так и отдельных составляющих: размера таможенной пошлины, НДС, акциза.</p>
<p>На текущий момент, реализованы следующие модули:</p>
<p><a href="/customtax/">Рассчет таможенной пошлины</a></p>
<p><a href="/nds/">Рассчет НДС</a></p>