<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>Рассчет таможенной пошлины</title>
 </head>
 <body>

 <form action="/calculate/result/", method="POST">

{% csrf_token %}

  <p><b>Введите код товара по ТН ВЭД, а так-же массу и стоимость (если необходимо) ввозимой партии товара в поля ниже и нажмите "отправить".</b></p>
  <p>Код ТН ВЭД:</p>
  <p><input type="text" required name="code"> *</p>
  <p>Масса товара (т.):</p>
  <p><input type="text" name="mass"></p>
  <p>Стоимость ввозимого товара (руб.)</p>
  <p><input type="text" name="price"></p>
  <p><input type="submit"></p>
 </form>
 <p>Примечание: Для некоторых категорий товаров, помимо кода ТН ВЭД, может потребоваться заполнение лишь одного из полей "Масса" или "Стоимость". Это зависит от типа таможенной пошлины, применяемой к данной категории товаров. Система предупредит, если для запрошенного товара невозможно правильно рассчитать пошлину. Такая ситуация может возникнуть, когда для товара, облагаемого адвалорной пошлиной не указана стоимость, для товара со специфической пошлиной не указана масса или для товара с комбинированным типом пошлины не указаны оба показателя. </p>
 </body>
</html>